<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      Añadir nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
        <ion-input class="titleLabel" 
        type="text" 
         formControlName="title"
         placeholder="Título">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-textarea class="descriptionLabel"
         formControlName="description"
          placeholder="Descripción"
         autocapitalize="true"
          auto-grow="true">
        </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button  class="buttonType" expand="block" fill="outline" type="submit" [disabled]="!tasks.valid">
      <ion-icon name="add-outline"></ion-icon>
      Añadir
    </ion-button>
  </div>
  </form>
</ion-content>
