<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      Mis notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="textLabel" #search placeholder="Filtrar notas" (ionChange)="searchNota($event)"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content class="refresherStyle"></ion-refresher-content>
  </ion-refresher>

   <ion-list mode="ios" lines="full">
     <ion-item-sliding *ngFor="let nota of this.notas;let i=index">
       <ion-item-options side="start" (ionSwipe)="this.confirmDeleteNote(nota.id)">
        <ion-item-option color="danger" expandable 
        (click)="this.confirmDeleteNote(nota.id)">
          <ion-icon name="trash" style="font-size: x-large;" 
          ></ion-icon>
        </ion-item-option>
       </ion-item-options>
      <ion-item>
        <ion-label class="textLabel"><h1>{{nota.titulo}}</h1>
          {{nota.texto}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option style="background-color: darkorange;" 
        (click)="this.editaNota(nota)">
          <ion-icon name="pencil" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
       </ion-item-options>
     </ion-item-sliding>
   </ion-list>
</ion-content>
