<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      Mi perfil
    </ion-title>
    <ion-buttons slot="end">   
      <ion-button (click)="this.actionThemeOrLeave()" fill="clear" class="editThemeButton">
        <ion-icon class="dotsColor" icon="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  
<ion-content [fullscreen]="true">


  <ion-item lines="full">
    <ion-avatar slot="end" style="width: 50px; height: 50px;">
      <img src="{{userProfile.avatar}}">
    </ion-avatar>
    <ion-label class="nameTextLabel">{{userProfile.name}}</ion-label>
  </ion-item> 

</ion-content>

<ion-footer mode="ios">

<ion-list lines ="full">
    
    <ion-item>
      <ion-label class="developedBy">Desarrollado por:</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label class="textLabel">Antonio Jiménez Luque</ion-label>
    </ion-item>

  <ion-item (click)="openTwitterPage()">
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-label class="textLabel">@antoniojl2000</ion-label>
  </ion-item>
  
  <ion-item (click)="openInstagramPage()">
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-label class="textLabel">antoniojl2k</ion-label>
  </ion-item>
</ion-list>
</ion-footer>
