.textLabel{
    text-align: center;
    color: rgb(48, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nameTextLabel{
    font-size: 20px;
    text-align: center;
    color: rgb(48, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titleToolbar{
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.optionPicker{
    font-weight: bold;
    color: rgb(48, 48, 48); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.developedBy{
    color: rgb(48, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.editThemeButton{
    margin-right: 10px;
    color: black;
    --border-color: black;
}

.logoutButton{
    float: right;
    color: black;
    --border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


