.appTitle{
    margin-top: 25px;
    color:black;
    font-weight: bold;
    font-size: 44px;
    font-family: Ink Free;
}

.loginContent{
    text-align: center;
}

.loginText{
    font-size: 16px;
    margin-top: 135px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loginIcon{
    margin-top: 100px;
    font-size: 250px;
}

.toolbarColor{
    text-align: center;
}

.imgEdit{
    align-items: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    size: 10px;
}